<title>cyber seer 3077</title>
<link rel="stylesheet" href="../static/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="overlay" id="result">
    <a href="#close" title="ปิดหน้าต่าง" style="text-decoration: none;">
        <div class="result">
            {% if result %}
                <div>
                    <span id="head2">คำทำนาย</span><br>
                    <span class="detail">วันเกิดของคุณคือเกิดวันที่ <br>{{ result['bdate'] }}</span>
                </div>
            <div class="crop">
                <div class="box-content">
                    <span class="title">ด้านความรัก</span>
                    <br>{{ result['love'] }}<br>
                </div>
                <div class="box-content"> 
                    <span class="title">ด้านการงาน</span><br>{{ result['work'] }}<br>
                </div>
            </div>
            <div class="crop">
                <div class="box-content">
                    <span class="title">ด้านการเงิน</span><br>{{ result['money'] }}<br>
                </div>
                <div class="box-content">
                    <span class="title">สีนำโชค</span><br>สี{{ result['color'] }}<br>
                </div>
            </div>
            {% endif %}
        </div>
    </a>
</div>
<div class="mycontainer">
    <div class="fullimg">
        <video style="width: 100%;" autoplay muted loop>
        <source src='https://cdn.discordapp.com/attachments/703176152625446933/708722368993951824/Nebula_Blue_-_377831.mp4' type="video/mp4">
        </video>
    </div>
</div>
<div class="background">
    <div class="box">
        <div class="form">
            <span class="head">Cyber Seer 3077</span><br>
            <span>
                You can become a seer too.<br>
            </span>
            <span class="detail">. . . Pick your Birthdate and see the future . . .</span>
            <form action="" method="POST" id="form">
            <input name="date" type="date" class="date" placeholder="date" required min="1820-01-01" max="2005-01-01" value="1999-09-09">
            <button type="submit" class="myButton">Googloo</button>
        </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#form").submit(function () {
            window.location = '#result';
        });
    });  
</script>

